torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
triton==3.0.0
transformers==4.57.3
tokenizers==0.22.1
sentencepiece==0.2.1
safetensors==0.6.2
huggingface-hub==0.35.3
accelerate==1.11.0
peft==0.17.1
datasets==4.2.0
pyarrow==21.0.0

bitsandbytes==0.49.0
flash-attn==2.6.3
xformers==0.0.27.post2+cu118

vllm==0.6.1.post1+cu118
outlines==0.0.46
outlines-core==0.2.11
lm-format-enforcer==0.10.6

tree-sitter==0.25.2
tree-sitter-c==0.21.0
tree-sitter-cpp==0.21.0

wandb==0.22.2
optuna==4.6.0
tensorboardx==2.6.4


numpy==1.26.4
tqdm==4.67.1
pyyaml==6.0.3
rich==14.2.0
einops==0.8.1
tiktoken==0.12.0
